body {
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 700px;
}

.margin-top {
  margin-top: 7%;
  border: 5px solid rgb(21 15 19);
  box-shadow: 5px 10px rgb(23 14 23);
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.justify-align-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

cursor:hover {
  cursor: pointer;
}

.position {
  position: relative;
}

.justify-between {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12%;
}

img {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: auto;
}

.dot-full-container {
  margin: auto;
  width: 50%;
  margin-bottom: 3%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

i {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
}
